<form id="book"class="ajaxform" method="post" action="{url}">
	<input type="hidden" name="action" value="login"/>
	<input type="hidden" name="xss" value="{xss}"/>
	<label><span class="text-gray">Username</span><input placeholder="user name" type="text" name="username"/></label>
	<label><span class="text-gray">Password</span><input placeholder="password" type="password" name="password" /></label>
	<div class="button-group small expanded">
		<button type="button" class="button secondary" data-close>Cancel</button>
		<button class="button button-olive" type="submit">Login</button>
	</div>
</form>
