<style>dl.viewer .dd_label{font-weight:bold; width:8rem; display:inline-block; color:#7F7F7F;}</style>
<div class="panel grid-x grid-margin-x heightflow">
	<div class="cell small-2">
		{image}
	</div>
	<div class="cell auto">
		<dl class="viewer">
			<dt>{name}</dt>
			<dd><span class="dd_label">Email:</span> {email}</dd>
			<dd><span class="dd_label">Phone:</span> {phone}</dd>
			<dd><span class="dd_label">Address:</span> {address}</dd>
			<dd><span class="dd_label">Birthday:</span> {birthday}</dd>
			<dd><span class="dd_label">Joined:</span> {joined}</dd>
			<dd><span class="dd_label">Grade:</span> {grade}</dd>
			<dd><span class="dd_label">Grade Date:</span> {grade_date}</dd>
			<dd><span class="dd_label">Type:</span> {type}</dd>
		</dl>
	</div>
</div>
