<style>dl.viewer .dd_label{font-weight:bold; width:8rem; display:inline-block; color:#7F7F7F;}</style>
<div class="panel grid-x grid-margin-x heightflow">
	<div class="cell small-2">
		{image}
	</div>
	<div class="cell auto">
		<dl class="viewer">
			<dt>{ClubName}</dt>
			<dd><span class="dd_label">Leader:</span> {Leader}</dd>
			<dd><span class="dd_label">Email:</span> {Email}</dd>
			<dd><span class="dd_label">Phone:</span> {PhoneNumber}</dd>
			<dd><span class="dd_label">Website:</span> {Website}</dd>
			<dd><span class="dd_label">Status:</span> {Status}</dd>
		</dl>
	</div>
</div>
