<h2>Hello Admin,</h2>
	{body}
<h3>User Details:</h3>
<p>
	<strong>Name:</strong> {name} - {grade}<br/>
	<strong>Dojo:</strong> {dojo}<br/>
	<strong>Email:</strong> {email}<br/>
	<strong>Phone:</strong> {phone}<br/>
	<strong>City:</strong> {city}<br/>
	<strong>Country:</strong> {country}<br/>
</p>
<h3>Transaction:</h3>
<p>	
	<strong>Value:</strong>&dollar; {value}<br/>
	<strong>Transaction Ref:</strong> {txn}<br/>
	<strong>Transaction status:</strong> {status}<br/>
	<strong>Our Ref:</strong> {sales_ref}
</p>
<h3>Items:</h3>
<ul>{items}</ul>
