<div class="panel grid-x grid-margin-x heightflow">
	<div class="cell small-2">
		{image}
	</div>
	<div class="cell auto">
		<dl>
			<dt>{title}</dt>
			<dd><span class="dd_label">Slug</span> {slug}</dd>
			<dd><span class="dd_label">Group</span> {group}</dd>
			<dd><span class="dd_label">Category</span> {category}</dd>
			<dd><span class="dd_label">Price</span> {price}</dd>
			<dd><span class="dd_label">Date</span> {date}</dd>
			<dd><span class="dd_label">Status</span> {status}</dd>
		</dl>
		<div><h5 class="underline">Info.</h5>{info}</div>
	</div>
</div>
