<div class="panel grid-x grid-margin-x heightflow">
	<div class="cell small-2">
		{image}
	</div>
	<div class="cell auto">
		<dl>
			<dt>{name}</dt>
			<dd><span class="dd_label">Username</span> {username}</dd>
			<dd><span class="dd_label">Email</span> {email}</dd>
			<dd><span class="dd_label">Phone</span> {phone}</dd>
			<dd><span class="dd_label">Address</span> {address}</dd>
			<dd><span class="dd_label">Joined</span> {joined}</dd>
			<dd><span class="dd_label">Type</span> {type}</dd>
			<dd><span class="dd_label">Status</span> {status}</dd>
		</dl>
	</div>
</div>
