<h3>{section_title}</h3>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell">
			<label for="product_ref">{member_product_ref_label}</label>
			<select id="product_ref" name="product_ref" >
				{member_product_ref}
			</select>
		</div>
    </div>
    {member_product_ref2}
    <div class="grid-x grid-padding-x">
        <div class="cell">
			{member_ikyf_reg}
		</div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell">
			<label for="textarea-notes" >{member_notes_label}</label>
			<textarea id="textarea-notes" name="Notes" rows="5">{member_notes}</textarea>
		</div>
    </div>
</div>
