<h3>{section_title}</h3>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell">
			<label for="product_ref">{member_product_ref_label}</label>
			<select id="product_ref" name="product_ref" >
				{member_product_ref}
			</select>
		</div>
    </div>
    {member_product_ref2}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
			<label for="select-arrive">{member_arrive_label}</label>
			<select id="select-arrive" name="Arrive" class="required">
				{member_arrive}
			</select>
		</div>
        <div class="cell medium-6">
			<label for="select-depart">{member_depart_label}</label>
			<select id="select-depart" name="Depart" class="required">
				{member_depart}
			</select>
		</div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell">
			<label for="textarea-notes" >{member_notes_label}</label>
			<textarea id="textarea-notes" name="Notes" rows="5">
				{member_notes}
			</textarea>
		</div>
    </div>
</div>
