<table  border="0">
	<tbody>
		<tr><th><strong>{section_label_login}</strong></th></tr>
		<tr><td>{member_username_label}:</td><td width="580">{member_username}</td></tr>
		<tr><td>{member_password_label}:</td><td width="580">{member_password}</td></tr>
		<tr><th><strong>{section_label_personal}</strong></th></tr>
		<tr><td>{member_first_name_label}:</td><td width="580">{member_first_name}</td></tr>
		<tr><td>{member_last_name_label}:</td><td width="580">{member_last_name}</td></tr>
		<tr><td>{member_gender_label}:</td><td width="580">{member_gender}</td></tr>			
		<tr><td>{member_dob_label}:</td><td width="580">{member_dob}</td></tr>
		<tr><td>{member_language_label}:</td><td width="580">{member_language}</td></tr>
		<tr><td>{member_citizenship_label}:</td><td width="580">{member_citizenship}</td></tr>
		<tr><td>{member_email_label}:</td><td width="580">{member_email}</td></tr>
		<tr><td>{member_phone_label}:</td><td width="580">{member_phone}</td></tr>
		<tr><td>{member_address_label}:</td><td width="580">{member_address}</td></tr>
		<tr><td>{member_city_label}:</td><td width="580">{member_city}</td></tr>
		<tr><td>{member_post_code_label}:</td><td width="580">{member_post_code}</td></tr>
		<tr><td>{member_country_label}:</td><td width="580">{member_country}</td></tr>
		<tr><td>{member_date_began_kyudo_label}:</td><td width="580">{member_date_began_kyudo}</td></tr>			
		<tr><td>{member_payment_method_label}:</td><td width="580">{member_payment_method}</td></tr>
		<tr><th><strong>{section_label_dojo}</strong></th></tr>
		<tr><td>{member_dojo_label}:</td><td width="580">{member_dojo}</td></tr>
		<tr><td>{member_zasha_label}:</td><td width="580">{member_zasha}</td></tr>
		<tr><th><strong>{section_label_exam_history}:</strong></th></tr>
		{member_exam_history}
		{member_extra_info}
	</tbody>
</table>
