<table  border="0">
	<tbody>
		<tr><th><strong>{section_label_personal}</strong></th></tr>
		<tr><td>{member_name_label}:</td><td width="580">{member_name}</td></tr>
		<tr><td>{member_email_label}:</td><td width="580">{member_email}</td></tr>
		<tr><td>{member_age_label}:</td><td width="580">{member_age}</td></tr>
		<tr><th><strong>{section_label_dojo}</strong></th></tr>
		<tr><td>{member_dojo_label}:</td><td width="580">{member_dojo}</td></tr>
		<tr><td>{member_grade_label}:</td><td width="580">{member_grade}</td></tr>
		<tr><td>{member_zasha_label}:</td><td width="580">{member_zasha}</td></tr>
		<tr><th width="600"><strong>{section_label_seminar}</strong></th></tr>
		<tr><td>{member_item_label}:</td><td width="580">{member_item}</td></tr>
		{member_item2}
		{member_shinsa_row}
		<tr><td>{member_reg_date_label}:</td><td width="580">{member_reg_date}</td></tr>
		{arrive_depart}
		<tr><td height="60">{member_notes_label}:</td><td width="580" height="60">{member_notes}</td></tr>
		<tr><th><strong>{section_label_payment}</strong></th></tr>
		<tr><td>{member_price_label}:</td><td width="580">{member_price}</td></tr>
		<tr><td>{member_paid_label}:</td><td width="580">{member_paid}</td></tr>
		<tr><td height="40">{member_paid_date_label}</td><td  height="40" width="580">{member_paid_date}</td></tr>
		<tr><th><strong>{section_label_payment_info}:</strong></th></tr>
		<tr>
			<td border="1" width="740" height="100">
				{bank_details}
			</td>
		</tr>
	</tbody>
</table>
