<div class="panel secondary login">
	<form class="loginwrap" name="form" role="form" action="<?=$FORM_URL ?>" method="post">
		<?=$MESSAGE ?>
		<label for="username"><i class="fi-torso"></i> Username
			<input type="text" name="username" id="username" class="form-control" required />
		</label>
		<label for="password"><i class="fi-key"></i> Password		
			<input type="password" name="password" id="password" class="form-control" required />
		</label>
		<div class="form-controls clearfix">
			<button type="submit" class="button warning float-right">Login</button>			
		</div>
	</form>
</div>
