<h3>{section_title}</h3>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6">
			<label for="select-dojo">{member_dojo_label}</label>
            <select id="select-dojo" name="DojoID" class="required" {member_dojo_disabled}>
				{member_dojo}
            </select>
        </div>
        <div class="cell medium-6">
			<label for="select-zasha">{member_zasha_label}</label>
			<select id="select-zasha" name="zasha" class="required" {member_zasha_disabled}>
				{member_zasha}
			</select>
		</div>
    </div>
</div>
