		<section>
		   <h3>Seminar</h3>
		   <div class="callout">
			   <label>Participation
					<select name="participation">
						{prod_opt}
					</select>
			   </label>
				<div class="grid-x grid-margin-x moc">
					<div class="cell medium-6 medium-cell-block-y">
					   <label>Arrive
							<select name="arrivee">
								{arrive_opt}
							</select>
					   </label>
					</div>
					<div class="cell medium-6 medium-cell-block-y">
					   <label>Depart
							<select name="depart">
								{depart_opt}
							</select>
					   </label>
					</div>
				</div>
			   <label>Other Info.</label>
			   <textarea name="remarque" id="remarque" cols="60" rows="6">{remarque}</textarea>
		   </div>
		</section>
