<ul class="vertical menu">
  <li><a href="<?=$URL ?>options/list/location/1">Dojo</a></li>
  <li><a href="<?=$URL ?>options/list/memberType">Member Types</a></li>
  <li><a href="<?=$URL ?>options/list/grade">Grades</a></li>
  <li><a href="<?=$URL ?>options/list/location/0">Event Locations</a></li>
  <li><a href="<?=$URL ?>options/list/eventType">Event Types</a></li>
  <li><a href="<?=$URL ?>options/list/reason">Reasons</a></li>
  <li><a href="<?=$URL ?>options/list/application">Application</a></li>
  <li><a href="<?=$URL ?>users/list/all">Users</a></li>
  <li><a href="<?=$URL ?>language/lists">Language</a></li>
  <li><a href="<?=$URL ?>events/products">Products</a></li>
  <li><a class="bg-purple text-white" href="<?=$URL ?>options/backup_now">Backup the database</a></li>
</ul>
