<h3>{section_title}</h3>
<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="cell">
			<label for="text-name">{member_name_label}</label>
			<input type="text" id="text-name" name="Name" value="{member_name}" class="required"/>
		</div>
	</div>
	<div class="grid-x grid-padding-x">
		<div class="cell medium-6">
			<label for="text-email">{member_email_label}</label>
			<input type="text" id="text-email" name="Email" value="{member_email}" class="required"/>
		</div>
	</div>
</div>
