<h3>{section_title}</h3>
<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="cell">
			<label for="text-username">{member_username_label}</label>
			<input type="text" id="text-username" name="uname" value="{member_username}" class="required" required />
		</div>
        <div class="cell">
			<label for="text-password">{member_password_label}</label>
			<input type="password" id="text-password" name="upass" value="{member_password}" class="required" required  />
		</div>
        <div class="cell">
			<label for="text-confirm_password">{member_confirm_password_label}</label>
			<input type="password" id="text-confirm_password" data-ref="text-password" name="uconfirm" value="{member_confirm_password}" class="required" required  />
		</div>
    </div>
</div>
