		<section>
		   <h3>Personal</h3>
		   <div class="callout">
				<div class="grid-x grid-margin-x moc">
					<div class="cell medium-6 medium-cell-block-y">
						<label>Forename<input name="prenom" type="text" value="{first_name}"></label>
						<label>Email<input name="email" type="text" value="{email}"></label>
						<label>Birthday<input name="dob" type="text" value="{dob}"></label>
					</div>
					<div class="cell medium-6 medium-cell-block-y">
						<label>Surname<input name="nom" type="text" id="nom" value="{last_name}"></label>
						<label>Phone<input name="phone" type="text" value="{phone}"></label>
						<label>Gender<select name="gender">{gender}</select></label>
					</div>
				</div>
				</div>
			   <label>Address</label>
			   <textarea name="address" id="address" rows="6">{address}</textarea>
			   <label>Language<select name="language">{language}</select></label>
			</div>
		</section>
