		<section>
		   <h3>Dojo &amp; Grade</h3>
		   <div class="callout">
				<label>Dojo
					<select name="dojo">
						{dojo_opt}
					</select>
				</label>
				<div class="grid-x grid-margin-x moc">
					<div class="cell medium-6 medium-cell-block-y">
						<label>Grade
							<select name="grade">
								{grade_opt}
							</select>
						</label>		
					</div>
					<div class="cell medium-6 medium-cell-block-y">
						<label>Grade Date (Year)
							<input type="number" min="1992" max="2018" value="{grade_date}" name="grade_annee" />
						</label>		
					</div>
				</div>
				<label>Form
					<select name="zasha">
						{zasha_opt}
					<select>
				</label> 
			</div>
		</section>
